h2 버그는 언제 생기는가?

ul
  li 코드에 변경이 있을 때!
  li 버그가 생긴 시점에 해결하는 것이 비용을 줄인다!
  li 코드를 고칠 때 마다 문제가 없는 지 확인할 필요가 있다!
    ul
      li 가능하면 빨리
      li 가능하면 자동으로

img(height="200", src='http://blog.felho.hu/wp-content/debuggingsuckststingrocks.png')
p 
  small Image Source: http://blog.felho.hu/wp-content/debuggingsuckststingrocks.png
