h2.title Good Or Bad

ul
  li 나쁜 코드 = 기획과 다르게 구현된 코드 = 테스트 하기 어려운 코드
    ul
      li 여러 가지 일을 하는 함수
      li 라인 수가 큰 함수
      li Cyclomatic Complexity가 높은 함수
      li 복잡성이 방치된 코드
  li 좋은 코드 = 기획대로 구현된 코드 = 테스트하기 좋은 코드
    ul
      li 한 가지 일을 하는 함수
      li 라인 수가 적은 함수
      li Cyclomatic Complexity가 낮은 함수
      li 복잡성이 길들여진 코드
