h2 회사원?

p 
  img(height='150', src='image/companyman.png')
  br
  small "회사원" 중

p 
  = 'Software Engineer / Software Developer /  Programmer / Hacker'

iframe(width="448", height="252", src="//www.youtube.com/embed/SKQyVC7-Ahk?list=PL-iH7WBOSbjfi16_9QVYNa72fwXMzsNfD", frameborder="0") 
  = allowfullscreen
