extends layout

block content
  .reveal
    .slides
      section
        include title.jade
      section
        include larry_and_kent.jade
      section
        include why.jade
      section
        include hacker.jade
      section
        include responsibility.jade
      section
        h2 Unit Test in V&V
        img(src='image/vv.png')
      section
        include bug.jade
      section
        include proof_review.jade
      section
        include static_analysis.jade
      section
        include sw_company.jade
      section
        include code_quality.jade
      section
        include modular.jade
      section
        include demo.jade
      section
        h2 END
