extends layout

block content
  .reveal
    .slides
      section
        include title.jade
      section
        include larry_and_kent.jade
      section
        include why.jade
      section
        include hacker.jade
      section
        include responsibility.jade
      section
        h2.title Unit Test in V&V
        img(src='image/vv.png')
      section
        include bug.jade
      section
        include proof_review.jade
      section
        include static_analysis.jade
      section
        include sw_company.jade
      section
        include code_quality.jade
      section
        include modular.jade

      if include_shell != 0
        section
          include demo.jade

      section
        h2.title END

block test_header
  link(rel='stylesheet', href='qunit/qunit-1.12.0.css')
  script(src='http://code.jquery.com/jquery-1.10.1.min.js');

block test_footer
  script(src='qunit/qunit-1.12.0.js')
  script.
    test("Basic Structure", function() {
      $("#doc_title").each(function() {
        equal(this.innerHTML, "Testing Completes Developing", "Document Title");
      });

      $("section > .title").each(function() {
        equal(this.tagName, "H2", "Slide title must be H2");
      });
      $("section > h2").each(function() {
        ok($(this).hasClass('title'), "H2 under section must be title class");
      });
    });
