extends layout

block content
  .reveal
    .slides
      section
        include title.jade
      section
        include larry_and_kent.jade
      section
        include why.jade
      section
        include hacker.jade
      section
        include responsibility.jade
      section
        h2 Unit Test in V&V
        img(src='image/vv.png')
      section
        include bug.jade
      section
        include proof_review.jade
      section
        include static_analysis.jade
      section
        include sw_company.jade
      section
        include code_quality.jade
      section
        include modular.jade

      if include_shell != 0
        section
          include demo.jade

      section
        h2 END

block test_header
  link(rel='stylesheet', href='qunit/qunit-1.12.0.css')

block test_footer
  script(src='qunit/qunit-1.12.0.js')
  script.
    test("hello test", function() {
      ok(1 == "1", "Passed!");
    });
    test("world test", function() {
      ok(2 == "2", "Passed!");
    });

