section
  h2 Testing Completes Developing
  blockquote Larry released Perl 1 in 1987. ... it contains a rudimentary but working test suite.
  p
    small - chromatic. <i>A Test-Infected Culture</i>. 2009
  
  pre
    code.
      release        core       lib         ext        t         doc
      ======================================================================
      
      1.000           212  29      -   -      -    -     38   51     62   3
                              ...
      5.12.3         5004 100   1146 121  15529 2180   6417 1848   5391 171
  
section
  h2 Testing Completes Developing
  blockquote Smalltalk has suffered because it lacks a testing culture ... I recommend that developers spend 25~50% of their time developing tests.
  p
    small - Kent Beck. <i>Simple Smalltalk Testing: With Patterns</i>. 1989

