h2 Testing Completes Developing
blockquote Larry released Perl 1 in 1987. ... it contains a rudimentary but working test suite.
blockquote Smalltalk has suffered because it lacks a testing culture ... I recommend that developers spend 25~50% of their time developing tests.

