section
  h2 복잡성 다루기: 나누기와 이름 붙이기
  
  p 복잡성 다루기: 프로그래밍의 핵심 기술 
  ul
    li Abstraction
      ul
        li Function (Name): 하는 일에 이름 붙이기
        li User-Defined Data Type: 다루는 값이나 객체에 이름 붙이기
    li Modularity
      ul
        li 파일과 디렉터리에 나눠 담기

section
  h2 복잡성 다루기: 나누기와 이름 붙이기

  ul 
    li 나누기를 돕는 도구
      ul
        li Editor: 80 x 40
        li Compiler, Linker, Loader, Runtime, Type System, ...
        li 3rd Party Module System (e.g. CommonJS)
    li 잘 나누면 집에 일찍 갈 수 있음
      ul
        li 이해 하기 쉽고, 테스트하기 쉬움
        li 재사용 하기 쉽고, 여럿이 일을 나눠 하기 쉬움
