section
  h2.title 프로그래머의 책임
  
  p Correct Program
  ul
    li Safety: something bad never happens
    li Liveness: something good keeps happening

section
  h2.title 프로그래머의 책임
  ul
    li  Efficient Program
      ul
        li 빠른 수행, 적은 필요 자원
    li Collaboration: 다른 사람의 시간을 아끼자!
      ul
        li Local Working Copy에는 오류가 있을 수 있음
        li 통합된 코드에는 오류가 없어야 함
section
  h2.title 프로그래머의 책임

  p 문제를 해결하는 사람은 결국 프로그래머!
  p 세상의 직업 중에 부실한 작업이 용납되는 것이 있나?

  small
    blockquote(cite='http://www.supil.com/essaylove/essay100/supil32.htm') 
      이번에는 깎던 것을 숫제 무릎에다 놓고 태연스럽게 곰방대에 담배를 담아 피우고 있지 않은가? 나도 그만 지쳐 버려 구경꾼이 되고 말았다. 얼마 후에, 노인은 또 깎기 시작한다. 저러다가는 방망이는 다 깎여 없어질 것만 같았다. 또, 얼마 후에 방망이를 들고 이리저리 돌려 보더니, 다 됐다고 내준다. 사실, 다 되기는 아까부터 다 되어 있던 방망이다. ... 배가 너무 부르면 옷감을 다듬다가 치기를 잘 하고 같은 무게라도 힘이 들며, 배가 너무 안 부르면 다듬잇살이 펴지지 않고 손에 헤먹기 쉽단다.
    p
      small - 윤오영. <i>방망이 깎던 노인</i>. 1977
 
