section
  h2 Testing in Software Company

  p Kent Beck's answer to:
  blockquote “What is the difference between unit testing, functional testing, and integration testing?”

  small 
    p http://www.quora.com/What-is-the-difference-between-unit-testing-functional-testing-and-integration-testing/answer/Kent-Beck

section
  h2 Testing in Software Company

  p Whose perspective is used to read the test? 
  
  blockquote Unit tests are read by programmers. Functional tests are read by domain experts. Integration tests are read by architects (those with a broad understanding of the design of the system).

section
  h2 Testing in Software Company

  p Who writes them? 
  blockquote I write tests at all these levels. Where I work (Facebook), programmer responsibility is very broad, so mastering all styles of testing is essential.

section
  h2 Testing in Software Company

  p When are they run? 
  blockquote Ideally, they are all run at the same time, and are fast and stable enough to give nearly-instant feedback.
